/EX2/TransitSoftDBManager/target/
/EX2/TransitSoftModel/target/
/EX2/TransitSoftPersistance/target/
/EX2/TransitSoftBusiness/target/
/EX2/TransitSoftWS/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftDBManager/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftModel/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftPersistance/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftBusiness/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftWS/target/
