/EX2/TransitSoftDBManager/target/
/EX2/TransitSoftModel/target/
/EX2/TransitSoftPersistance/target/
/EX2/TransitSoftBusiness/target/
/EX2/TransitSoftWS/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftDBManager/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftModel/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftPersistance/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftBusiness/target/
/EX2/Conexion SOAP Transitsoft/TransitSoftWS/target/
/EX2/Conexion RESTful Transitsoft/ServidorRESTFul/TransitSoftDBManager/target/
/EX2/Conexion RESTful Transitsoft/ServidorRESTFul/TransitSoftModel/target/
/EX2/Conexion RESTful Transitsoft/ServidorRESTFul/TransitSoftPersistance/target/
/EX2/Conexion RESTful Transitsoft/ServidorRESTFul/TransitSoftBusiness/target/
/EX2/Conexion RESTful Transitsoft/ServidorRESTFul/TransitSoftWS/target/
/EX2/Conexion RESTful Transitsoft/ServidorRESTFul/TransitSoftBusinessServidorWS/target/
/EX2/Conexion RESTful Transitsoft/ClienteRESTFul/TransitSoftBusiness/target/
/EX2/Conexion RESTful Transitsoft/ClienteRESTFul/TransitSoftWS/target/
/EX2/Conexion RESTful Transitsoft/ClienteRESTFul/TransitSoftBusinessClienteWS/target/
