<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="tipoDeBaseDeDatos" value="MYSQL" />
		<add key="baseDeDatos" value="transitsoft" />
		<add key="nombreDeHost" value="labs-2025-2-prog3-mysql.cuz6a6q0ybnm.us-east-1.rds.amazonaws.com" />
		<add key="puerto" value="3306" />
		<add key="usuario" value="admin" />
		<add key="contraseña" value="UAByAG8AZwByAGEAbQBhAGMAaQBvAG4AMwAhAA ==" />
	</appSettings>
</configuration>